.page {
  display: flex;
  background-color: rgb(87, 87, 87);
  width: 90%;
  min-height: 100vh;
}
.page__sidebar {
  align-items: center;
}
.page__content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.cards {
}
.cards__container {
}
.cards__image {
  img {
    width: 200px;
    height: 200px;
  }
}
