.sidebar {
  position: relative;
  display: flex;
  width: 300px;
  height: 100%;
  background-color: rgb(124, 124, 124);
  overflow: hidden;
  justify-content: center;
  .sidebar__category {
          padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  &:hover {
      color: rgb(85, 248, 85);
  }
}

li {
  list-style-type: none;
  text-transform: uppercase;
  margin: 13px;
}